# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://opawcbnhyzfdavuliuqo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wYXdjYm5oeXpmZGF2dWxpdXFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NzcyNDAsImV4cCI6MjA5MTI1MzI0MH0.3LLdq-kMZVKjGqiowugJlWuHiW1-CYjJcljsfsNoAqk

# API
EXPO_PUBLIC_API_URL=https://your-api.railway.app
